

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Aquí eliges el grosor */
  font-style: normal;
}


*{
    margin: 0;
    font-family: "Outfit", sans-serif; 
}



main{
   
    background-size: cover;
    height: 95vh;
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h1{
    margin-bottom: 30px;
    font-weight: 700;
}

main .vs{
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vh;

}

h2{
    margin-bottom: 5px;
 
}

main .vs img{
    width: 37vh;
}

main .opciones{
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 20vh;
}

.marcador{
    display: flex;
    gap: 20px;
    font-size: 30px;
    font-weight: 700;
}

.marcador .marcadorUno{
   color: blue;
}

.marcador .marcadorDos{
   color: red;
}

main .opciones button{
   width: 150px;
   height: 150px;
   border-radius: 30px;
   border: 10px solid black; 
       transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), 
                background-color 0.3s ease;
}

main .opciones button  img{
    width: 100px;
    transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}

main .opciones button:hover{
   background-color: rgb(247, 119, 119);
   transform: scale(1.1);
   transition: ease-in-out 10;
}

main .opciones .piedra:hover{
   background-color: rgb(247, 119, 119);
}

main .opciones .papel:hover{
   background-color: rgb(239, 231, 119);
}

main .opciones .tijera:hover{
   background-color: rgb(118, 150, 246);
}

main .opciones .piedra:active{
   background-color: rgb(255, 0, 0);
   transition: ease-in-out 10;
}

main .opciones .papel:active{
   background-color: rgb(255, 238, 0);
   transition: ease-in-out 10;
}

main .opciones .tijera:active{
   background-color: rgb(0, 64, 255);
   transition: ease-in-out 10;
}

main .opciones button:active{
   background-color: gray;

   transition: ease-in-out 10;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 5vh;
}